
.texto{

  color: #333333;
  margin-left: 32%;
  margin-top: 50px;
  font-size: 50px;
  font-family: fantasy;
  margin-bottom: 100px;
}

a{

  color: #333333;
  margin-left: 280px;
  font-size: 50px;
  font-family: fantasy;
  text-decoration: none;
}

#db:hover{
  color: blue;
}

#op:hover{
  color: red;
}

img{
  margin-top: -50px;
  height: 500px;
  margin-left: 18%;

}
